* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    width: 200px;
    height: 150px;
    right: 100px;
    position: relative;
    bottom: 30px;
}
.header-container {
    background-color: black;
    height: 150px;
}

.links-container {
    text-transform: uppercase;
    font-family: 'Coyote SemiBold DEMO', 'sans-serif';
    font-size: .8rem;
    font-weight: 400;
    list-style: none;
}

.links-container li {
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    left: 520px;
    bottom: 30px;
}

.links-container li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
}

.links-container li a:hover {
    color: #0088a9;
}


.icons-container li{
    display: inline-block;
    list-style: none;
    font-size: 21px;
    color: white;
}

.icons-container li i{
    padding: 15px;
    left: 120px;
    right: 10px;
    bottom: 29px;
    position: relative;
    font-weight: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.icons-container ul li{
    display: flex;
    flex-direction: column;
    float: right;
    
}

.images-container {
    height: 75vh;
}

.images {
    background: url('./bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}


.slider {
    height: 75vh;
    background: url('./bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url('./bopomofo-background-images/2-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('./bopomofo-background-images/3-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('./bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
    25%{
        background: url('./bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
}


@font-face {
    font-family: 'Coyote SemiBold DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Coyote SemiBold DEMO'), url('./Coyote-SemiBoldDEMO.woff') format('woff');
    }


@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Regular.eot');
    src: local('DIN 2014 Regular'), local('DIN2014-Regular'),
        url('DIN2014-Regular.eot?#iefix') format('embedded-opentype'),
        url('DIN2014-Regular.woff') format('woff'),
        url('DIN2014-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.menu-container {
    height: 220vh;
}

.menu {
    background: url('./images/hugamugmenu.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.below-image-container {
    height: 80vh;
}

.below-image {
    background: url('./images/below-image.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.slogan {
    font-family: 'Coyote SemiBold DEMO', 'sans-serif';
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.2992;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-wrap;
    transition-timing-function: ease;
    transition-duration: 0.65s;
    transition-delay: 0.274286s;
    opacity: 1 !important;
    transform: scale(1) !important;
    justify-content: flex-end;
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
}

.button-below {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 420px;
    left: 280px;
}

.btn {
    border: 2px solid white;
    background: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "DIN 2014";
    cursor: pointer;
    margin: 10px;
    color: white;
    letter-spacing: .02em;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    line-height: normal;
    opacity: 1;
}

.below-photos {
    height: 100vh;
    overflow: hidden;
}

.below-photo-1 {

}

.below-photo-2 {

}

.black-box {
    height: 45vh;
    background-color: black;
    position: relative;
}

.black-box > p {
    color: white;
    font-family: "DIN 2014";
    text-align: center;
    vertical-align: middle;
    line-height: 370px;
    font-size: 1.4rem;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: 400;
    font-style: normal;

}

.story-button {
    border: 2px solid #E26650;
    font-size: .9rem;
    font-family: "DIN 2014";
    letter-spacing: .02em;
    text-decoration: none;
    cursor: pointer;
    color: #E26650;
    background-color: black;
    padding: 8px 13px;
    margin: 0 auto;
    display: block;
}

.story-button:hover {
    background-color: #E26650;
    color: white;
}

.tiger-background {
    height: 83vh;
}

.tiger {
    background: url('./images/tigerz.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #E26650;
    color: white;
    font-family: "DIN 2014";
    height: 30vh;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 10px;
    padding: 10px;
}


.footer-logo {
    grid-column: 2;
    grid-row: 1;
}

.left-footer-column {
    grid-column: 1;
    grid-row: 2;
}

.middle-footer-column {
    grid-column: 2;
    grid-row: 3;
}

.right-footer-column {
    grid-column: 3;
    grid-row: 3;
}

img.footer-logo-container {
    width: 200px;
    height: 150px;
}