* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30 70px;
}

.logo {
    padding: 20px 0 0 100px;
}

.logo img {
    height: 100px;
    width: 100px;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: black;
}

.links-and-icons {
    height: 100%;
    display: flex;
    padding: 0 20px 0 0;
}

.links-and-icons ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links-and-icons li {
    list-style: none;
}

.links-and-icons li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-family: 'Inter';
    text-transform: uppercase;
    font-weight: 600;
}

.links-and-icons li i {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 22px;
}

.images-container {
    height: 75vh;
}

.images {
    background: url('./bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}


.slider {
    height: 75vh;
    background: url('./bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    animation: slide 20s infinite;
}

@keyframes slide{
    25%{
        background: url('./bopomofo-background-images/2-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('./bopomofo-background-images/3-background.jpg') no-repeat center center/cover;
    }
    25%{
        background: url('./bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
    25%{
        background: url('./bopomofo-background-images/4-background.JPG') no-repeat center center/cover;
    }
}


@font-face {
    font-family: 'Coyote SemiBold DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Coyote SemiBold DEMO'), url('./Coyote-SemiBoldDEMO.woff') format('woff');
    }


@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Regular.eot');
    src: local('DIN 2014 Regular'), local('DIN2014-Regular'),
        url('DIN2014-Regular.eot?#iefix') format('embedded-opentype'),
        url('DIN2014-Regular.woff') format('woff'),
        url('DIN2014-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.menu-container {
    width: 900px;
    margin: 0 auto;
}


.menu {
    height: 100%;
    width: 100%;
}

.below-image-container {
    height: 80vh;
}

.below-image {
    background: url('./images/below-image.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}


.below-content-title {
    position: relative;
    top: 320px;
}

.slogan {
    font-family: 'Inter', 'sans-serif';
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.2992;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre-wrap;
    transition-timing-function: ease;
    transition-duration: 0.65s;
    transition-delay: 0.274286s;
    opacity: 1 !important;
    transform: scale(1) !important;
    justify-content: flex-end;
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
}

.button-below {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 420px;
    left: 280px;
}

.btn {
    border: 2px solid white;
    background: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "DIN 2014";
    cursor: pointer;
    margin: 10px;
    color: white;
    letter-spacing: .02em;
    text-decoration: none;
    text-align: left;
    display: inline-block;
    line-height: normal;
    opacity: 1;
}

.below-photos {
    height: 100vh;
    overflow: hidden;
}

.below-photos img {
    border-radius: 3px;
}

.black-box {
    height: 45vh;
    background-color: black;
    position: relative;
}

.black-box > p {
    color: white;
    font-family: "DIN 2014";
    text-align: center;
    vertical-align: middle;
    line-height: 370px;
    font-size: 1.4rem;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: 400;
    font-style: normal;

}

.story-button {
    border: 2px solid #E26650;
    font-size: .9rem;
    font-family: "DIN 2014";
    letter-spacing: .02em;
    text-decoration: none;
    cursor: pointer;
    color: #E26650;
    background-color: black;
    padding: 8px 13px;
    margin: 0 auto;
    display: block;
}

.story-button:hover {
    background-color: #E26650;
    color: white;
}

.tiger-background {
    height: 83vh;
}

.tiger {
    background: url('./images/tigerz.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #E26650;
    color: white;
    font-family: "DIN 2014";
    height: 40vh;
    position: relative;
}

.footer-logo {
    position: relative;
    display: flex;
    justify-content: center;
}

img.footer-logo-container {
    width: 200px;
    height: 150px;
}


@font-face{
    font-family: "Inter";
    src: url("./Inter.ttf") format("truetype");
}

.below-photos {
    display: grid;
    grid-gap: 10px;
    padding: 100px 200px;
    position: relative;
    height: 120vh;
}

.below-photo-1 {
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

.below-photo-2 {
    grid-column: 2;
    grid-row: 1;
}

.below-photo-3 {
    grid-column: 1;
    grid-row: 2;
    position: absolute;
    bottom: 190px;
    left: 200px;
}

.below-button {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    left: 205px;
    font-family: "DIN 2014";
}

.below-button-text {
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.8;
    margin: 1rem 0;
    transition-property: opacity;
    opacity: 1 !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    transition-timing-function: ease;
    transition-duration: 0.65s;
    transition-delay: 0.308571s;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px 0px;
    font-family: "DIN 2014";
}

.instagram-button {
    background: transparent;
    border: 2px solid #e26650;
    padding: .8em 1.336em;
    color: #e26650;
    line-height: normal;
    display: inline-block;
    transition: 0.1s background-color linear, 0.1s color linear;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 550;
    font-style: normal;
    text-transform: none;
    letter-spacing: .02em;
    cursor: pointer;
    font-family: "DIN 2014";
}

.instagram-button:hover {
    background: #e26650;
    color: #fff;
}

.right-footer-column > a {
    color: white;
}

.beneath-footer {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
    right: 200px;
    
}

.right-footer-column a {
    text-align: right;
}

.middle-footer-column p {
    text-align: center;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .links-and-icons {
        display: none;
        width: 100%;
    }

    .links-and-icons ul {
        padding: 0 20px 0 0;
        width: 100%;
        flex-direction: column;
    }

    .links-and-icons ul li {
        text-align: center;
    }

    .links-and-icons ul li a {
        padding: .5rem 1rem;
    }

    .links-and-icons ul li i {
        padding: .5rem 1rem;
    }

    .links-and-icons.active {
        display: flex;
    }
}
