* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    width: 200px;
    height: 150px;
    right: 100px;
    position: relative;
    bottom: 30px;
}
.header-container {
    background-color: black;
    height: 150px;
}

.links-container {
    text-transform: uppercase;
    font-family: 'Coyote SemiBold DEMO', 'sans-serif';
    font-size: .8rem;
    font-weight: 400;
    list-style: none;
}

.links-container li {
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    left: 520px;
    bottom: 30px;
}

.links-container li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
}

.links-container li a:hover {
    color: #0088a9;
}


.icons-container li{
    display: inline-block;
    list-style: none;
    font-size: 21px;
    color: white;
}

.icons-container li i{
    padding: 15px;
    left: 120px;
    right: 10px;
    bottom: 29px;
    position: relative;
    font-weight: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.icons-container ul li{
    display: flex;
    flex-direction: column;
    float: right;
    
}

.images-container {
    height: 75vh;
}

.images {
    background: url('./bopomofo-background-images/1-background.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}


@font-face {
    font-family: 'Coyote SemiBold DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Coyote SemiBold DEMO'), url('./Coyote-SemiBoldDEMO.woff') format('woff');
    }

.menu-container {
    height: 220vh;
}

.menu {
    background: url('./images/hugamugmenu.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
}